.home {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  padding: 10rem 4rem;
  column-gap: 6rem;
  position: relative;

  background: linear-gradient(to right, #ffffff 88.3%, #111 11.7%);
}

.home-content {
  max-width: 500px;
  transform: translateX(77px) translateY(-30px);
}

.home-content h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  color: #111
}

.home-subtitle {
  margin-left: 2rem;
  transform: translateX(81px);
}

.home-subtitle h2 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #555;
}

.home-image {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  justify-self: end;
  transform: translateX(100px);
  border: 2px solid white;
}

.home-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
}

.home-socials {
  display: flex;
  gap: 1.5rem; 
  margin-top: 1rem;
  transform: translateX(160px);
}

.home-socials a {
  color: #555; 
  font-size: 1.7rem; 
  transition: transform 0.2s, color 0.2s;
}

.home-socials a:hover {
  color: #111; 
  transform: scale(1.2);
}

.home-buttons {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem; 
  transform: translateX(58px);
}

.btn {
  padding: 0.8rem 2rem;
  border-radius: 9999px;
  background-color: #000; 
  color: #fff;            
  font-weight: 500;
  text-decoration: none;
  border: none;
}

.btn-outline {
  padding: 0.8rem 2rem;
  border-radius: 9999px;
  background-color: transparent;
  border: 2px solid #000; 
  color: #000;             
  text-decoration: none;
  font-weight: 500;
}

.home::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 1px); 
  background-size: 20px 20px;
  pointer-events: none; 
  z-index: 0;
}

.home-content,
.home-image,
.home-socials,
.home-buttons {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem;
  }

  .home-image {
    justify-self: center;
  }

  .home-subtitle {
    margin-left: 0;
  }
}