.home {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;

  padding: 10rem 4rem;
  column-gap: 6rem;
}

.home-content {
  max-width: 500px;
  transform: translateX(40px) translateY(40px);
}

.home-content h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  color: #111
}

.home-subtitle {
  margin-left: 2rem;
  transform: translateX(81px);
}

.home-subtitle h2 {
  font-size: 1.75rem;
  font-weight: 500;
  color: #555;
}

.home-image {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  justify-self: end;
  transform: translateX(53px);
  border: 2px solid white;
}

.home-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
}

.home-socials {
  display: flex;
  gap: 1.5rem; 
  margin-top: 1rem;
  transform: translateX(150px);
}

.home-socials a {
  color: #555; 
  font-size: 1.7rem; 
  transition: transform 0.2s, color 0.2s;
}

.home-socials a:hover {
  color: #111; 
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem;
  }

  .home-image {
    justify-self: center;
  }

  .home-subtitle {
    margin-left: 0;
  }
}